/* Your CSS goes here */

input {
    background-color: yellow;
}

select {
    background-color: yellow;
}

#lastname {
    font-weight: bold;
}

h4 {
    border-style: solid;
    border-width: 1px;
}